 /**
  * Estilos para los campos personalizados de Bsale en el checkout de WooCommerce.
  */

 #bwi_document_type_field label {
     display: block; /* Texto arriba */
     margin-bottom: 5px; /* Espacio entre el texto y el selector */
 }

 #bwi_document_type_field .woocommerce-input-wrapper {
     display: block; /* Selector abajo */
     width: 100%; /* Ancho del 100% */
 }

 #bwi_document_type {
     width: 100%; /* Asegurar que el <select> también ocupe el 100% */
 }
 